# references:
# * http://www.objc.io/issue-6/travis-ci.html
# * https://github.com/supermarin/xcpretty#usage
osx_image: xcode7.2

language: objective-c

script:
- set -o pipefail && xcodebuild analyze test -workspace SFFocusViewLayout.xcworkspace -scheme SFFocusViewLayout -sdk iphonesimulator -destination 'platform=iOS Simulator,name=iPhone 6s Plus' ONLY_ACTIVE_ARCH=NO GCC_INSTRUMENT_PROGRAM_FLOW_ARCS=YES GCC_GENERATE_TEST_COVERAGE_FILES=YES | xcpretty -c
- pod lib lint --quick

after_success:
- bash <(curl -s https://codecov.io/bash)
